version: "3.8"
services:
  web_app:
    build: ./web_app
    entrypoint: ["/usr/src/app/docker-entrypoint.sh"]
    ports:
      - "8000:8000"
    environment:
      - DATABASE_ENGINE=${DJANGO_DATABASE_ENGINE}
      - DATABASE_NAME=${DJANGO_DATABASE_NAME}
      - DATABASE_USER=${DJANGO_DATABASE_USER}
      - DATABASE_PASSWORD=${DJANGO_DATABASE_PASSWORD}
      - DATABASE_HOST=db # same as db service name
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      - DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
      - DJANGO_DEBUG=${DJANGO_DEBUG}
    volumes:
      - ./web_app:/usr/src/app/
    depends_on:
      - db
  db:
    image: postgres:18
    restart: always
    ports:
    - "5432:5432" # Standard PostgreSQL port
    environment:
      # PostgreSQL initializes authentication and database setup
      POSTGRES_DB: ${DJANGO_DATABASE_NAME}
      POSTGRES_USER: ${DJANGO_DATABASE_USER}
      POSTGRES_PASSWORD: ${DJANGO_DATABASE_PASSWORD}
      # FIX: Explicitly specify the internal data directory to prevent version conflicts
      PGDATA: /var/lib/postgresql/data/pgdata 
      # fix: for retrocompatibility
      TZ: UTC
    volumes:
      # Volume for data persistence
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: