<div class="col-md-6">
    <form action="{% url 'annotate' %}" method="post" id="mainForm">
    <!-- For some reason the form tag can't be inside the Vue app `annotationApp` because then, $('#mainForm').. doesnt work -->
        {% csrf_token %}
        <div class="row  border rounded-0 py-4 px-2" id="annotationApp">
            <div class="col-sm-12">
                <!-- Tweet Relation Id-->
                <input id="tweet_relation_id" type="hidden" name="tweet_relation_id" value={{ tweet_relation_id }} />

                <!-- Annotator Id-->
                <input type="hidden"  name="annotator_id" value={{ user.id }} />

                <div id="questionsAccordion">
                    <div v-for="(questions, section) in questionsGrouped" :key="section">
                        <button class="btn btn-block alert-primary mt-2" :data-target="'#'.concat(idFromSentence(section))" data-toggle="collapse"  type="button" role="button" aria-expanded="false">
                            <h6>#[[ section ]]</h6>
                        </button>						
                        <div class="collapse mb-2" :id="idFromSentence(section)">
                            <div class="card card-body">
                                <template v-for="question in questions">
                                    <question-block-target-tweet-country
                                    :question='question'
                                    :options='question.options'
                                    v-if ='question.id == 1'
                                    >
                                    </question-block-target-tweet-country>

                                    <question-block-stance-of-response-to-target-content
                                    :question='question'
                                    :options='question.options'
                                    @stancechanged="updateStance"
                                    v-else-if ='question.id == 7'
                                    >
                                    </question-block-stance-of-response-to-target-content>
                                    
                                    <question-block-true-news
                                    :question='question'
                                    :options='question.options'
                                    :show = 'showTrueNewsQuestion'
                                    @evidencechanged="updateEvidence"
                                    v-else-if ="question.id == 9 "
                                    >
                                    </question-block-true-news>
                                
                                    <question-block-fake-news
                                    :question='question'
                                    :options='question.options'
                                    :show = 'showFakeNewsQuestion'																							
                                    @evidencechanged="updateEvidence"
                                    v-else-if ="question.id == 10 "
                                    >
                                    </question-block-fake-news>

                                    <question-block
                                    :question='question'
                                    :options='question.options'												
                                    :show = 'showEvidenceQuestion'
                                    v-else-if ="question.id == 11 "
                                    >
                                    </question-block>

                                    <question-block
                                    :question='question'
                                    :options='question.options'
                                    v-else
                                    >
                                    </question-block>
                                </template>
                            </div>
                        </div>										
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12 text-center my-3">
                    <button type="submit" class="btn btn-primary" v-if="questions.length">Enviar</button>
                    </div>
                </div>
            </div>
        </div>          
    </form>
</div>