<!-- Instructions (collapsible) -->
<a class="btn alert-primary btn-block text-left" data-toggle="collapse" href="#instructions" role="button" aria-expanded="false" aria-controls="instructions">			
    <strong>Tutorial e instrucciones para la anotación</strong>&nbsp;<span class="collapse-text">(Click to expand)</span>				
</a>
<div class="collapse" id="instructions">
    <div class="card card-body">
        <p><strong>Please read the&nbsp;tutorial by downloading the&nbsp;PDF file from the link below. If clicking the link does not open the pdf file, please copy the link and paste it in a new web-brower/tab.</strong></p>
        <p><strong>Downnload tutorial link <a href="https://github.com/sumeetkr/TweetStanceLabeling/blob/master/CASOS_MTurk_Tweet_Labeling_Tutorial_Slider.pdf">https://github.com/sumeetkr/TweetStanceLabeling/blob/master/CASOS_MTurk_Tweet_Labeling_Tutorial_Slider.pdf</a></strong></p>
        <p><strong>Escoja la categoria en función del siguiente criterio</strong></p>
        <table class="table table-bordered">
            <!-- By explaining the sentiment scale, the accuracy of the answers may increase. -->					
            <thead class="thead-light">					
                <tr>
                    <th>Opciónes</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Suporte Explícito</td>
                    <td>Cuando el tweet de respuesta expresa de forma explícita (incluye lenguaje) que esta de acuerdo con lo expresado en el tweet orginal o que este es cierto.&nbsp;</td>
                </tr>
                <tr>
                    <td>Suporte Implícito</td>
                    <td>Cuando el tweet de respuesta implica (da a entender) que esta de acuerdo con lo expresado en el tweet orginal o que este es cierto.&nbsp;</td>
                </tr>
                <tr>
                    <td>Comentario</td>
                    <td>Cuando el tweet the respuesta es neutral al, o solo comenta el, contenido del tweet original.&nbsp;</td>
                </tr>
                <tr>
                    <td>Pregunta por más información</td>
                    <td>Cuando el tweet de respuesta pregunta por mas información sobre contenido del tweet original.&nbsp;</td>
                </tr>
                <tr>
                    <td>Negación Implícita</td>
                    <td>Cuando el tweet de respuesta implica (da a entender) que esta en desacuerdo con lo expresado en el tweet orginal o que este es falso.&nbsp;</td>
                </tr>
                <tr>
                    <td>Negación Explícita</td>
                    <td>Cuando el tweet de respuesta expresa de forma explícita (incluye lenguaje) que esta en desacuerdo con lo expresado en el tweet orginal o que este es falso.&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- End instructions -->