<!-- Instructions (collapsible) -->
<a class="btn alert-primary btn-block text-left" data-toggle="collapse" href="#relatedannotations" role="button" aria-expanded="false" aria-controls="">
    <strong>Annotaciones relacionadas</strong>&nbsp;<span class="collapse-text">(Click to expand)</span>
</a>
<div class="collapse" id="relatedannotations">
    <div class="card card-body">
        {% for item in ans %}
            Annotation ID : {{ item.id }} </br>		
            {% for answer in item.answers %}
                <strong>pregunta:</strong> {{ answer.question.value}} </br>
                <strong>respuesta:</strong> {{answer.value_json}} </br>
            {% endfor %}
            </br>	 </br>	
        {% endfor %}
    </div>
</div>
<!-- End instructions -->