<div class="col-md-6">
    <div class="row  border rounded-0 py-4 px-2" id="resolveTweetRelationApp">
        <div class="col-sm-12">

            
            <!-- Revision Form-->
            <form  method="post" id="revisionForm">
                 {% csrf_token %}
                <div class="form-group row">
                    
                </div>

               <div class="form-group row">
                    <div class="col-8 text-center my-3">
                        <input class="form-check-input mt-3" type="checkbox" v-model="skip">
                        <label class="form-check-label mt-2">
                        Skip tweet
                        </label>
                    </div>
                    <div class="col-4 text-center my-3">                        
                        <button v-if="skip" type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>                  
            </form>
        
            <!-- Annotation Form-->
            
            <div id="showPreviousAnswers" data-value="true" /></div>
            <form v-show="!skip" action="{% url 'resolve_tweet_relation' tweet_relation_id %}" method="post" id="mainForm">
                {% csrf_token %}
                <!-- Tweet Relation Id-->
                <input id="tweet_relation_id" type="hidden" name="tweet_relation_id" value={{ tweet_relation_id }} />

                <!-- Annotator Id-->
                <input type="hidden"  name="annotator_id" value={{ user.id }} />

                <!-- Question Sections-->
                <div>
                    <section-collapsible
                        v-for="section in sections"
                        :section='section'
                        :key="section.id">
                    </section-collapsible>
                </div>

                <div class="form-group row">
                    <div class="col-12 text-center my-3">
                    <button  
                        type="submit" 
                        id="mainFormSubmitButton" 
                        class="btn btn-primary" 
                        v-if="sections.length">Enviar</button>
                    </div>
                </div>                  
            </form>
        </div>
    </div>    
</div>