
{% extends 'analisis/base.html' %}
{% load  static %}

{% block nav %}
	<section>
		<nav class="navbar navbar-light border-bottom mb-2">
	<a class="navbar-brand" href="#"> <span class="badge badge-light border">{{ annotation_count }}</span> anotaciones realizadas</a>
	<span class="navbar-text">
	<b>Logged in as {{ user.username }} </b>| <a href="{% url 'logout' %}">Log Out</a>
	</span>
	</nav>
	</section>
{% endblock %}
	
{% block content %}
	<!-- Instructions (collapsible) -->	
	<div class="row">
		<a class="btn alert-primary btn-block text-left" data-toggle="collapse" href="#instructions" role="button" aria-expanded="false" aria-controls="instructions">			
			<strong>Tutorial e instrucciones para la anotación</strong>&nbsp;<span class="collapse-text">(Click to expand)</span>				
		</a>
		<div class="collapse" id="instructions">
			<div class="card card-body">
				<p><strong>Please read the&nbsp;tutorial by downloading the&nbsp;PDF file from the link below. If clicking the link does not open the pdf file, please copy the link and paste it in a new web-brower/tab.</strong></p>
				<p><strong>Downnload tutorial link <a href="https://github.com/sumeetkr/TweetStanceLabeling/blob/master/CASOS_MTurk_Tweet_Labeling_Tutorial_Slider.pdf">https://github.com/sumeetkr/TweetStanceLabeling/blob/master/CASOS_MTurk_Tweet_Labeling_Tutorial_Slider.pdf</a></strong></p>
				<p><strong>Escoja la categoria en función del siguiente criterio</strong></p>
				<table class="table table-bordered">
					<!-- By explaining the sentiment scale, the accuracy of the answers may increase. -->					
					<thead class="thead-light">					
						<tr>
							<th>Opciónes</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Suporte Explícito</td>
							<td>Cuando el tweet de respuesta expresa de forma explícita (incluye lenguaje) que esta de acuerdo con lo expresado en el tweet orginal o que este es cierto.&nbsp;</td>
						</tr>
						<tr>
							<td>Suporte Implícito</td>
							<td>Cuando el tweet de respuesta implica (da a entender) que esta de acuerdo con lo expresado en el tweet orginal o que este es cierto.&nbsp;</td>
						</tr>
						<tr>
							<td>Comentario</td>
							<td>Cuando el tweet the respuesta es neutral al, o solo comenta el, contenido del tweet original.&nbsp;</td>
						</tr>
						<tr>
							<td>Pregunta por más información</td>
							<td>Cuando el tweet de respuesta pregunta por mas información sobre contenido del tweet original.&nbsp;</td>
						</tr>
						<tr>
							<td>Negación Implícita</td>
							<td>Cuando el tweet de respuesta implica (da a entender) que esta en desacuerdo con lo expresado en el tweet orginal o que este es falso.&nbsp;</td>
						</tr>
						<tr>
							<td>Negación Explícita</td>
							<td>Cuando el tweet de respuesta expresa de forma explícita (incluye lenguaje) que esta en desacuerdo con lo expresado en el tweet orginal o que este es falso.&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- End instructions -->

	<!-- Categorization Layout -->
	<div  id="workContent1">
		<form action="{% url 'annotate' %}" method="post">
			{% csrf_token %}

			<!-- Tweet Relation Id-->
			<input id="tweet_relation_id" type="hidden" name="tweet_relation_id" value={{ tweet_relation_id }} />
			{{ all_tweets_available }}
			<div class="row border rounded-0 py-4 px-2">
					<div class="col-md-6">
					<div class="card my-2 h-100" style="background-color: #f5f5f5;">
						<label>Target Tweet:</label>
						<div class="well tweet-box" id="tweetTarget" data-tweet-id="{{ tweet_target_id }}" data-tweet-text="{{ tweet_target_text }}">
						</div>
					</div>
					</div>

					
					<div class="col-md-6">
					<div class="card my-2 h-100" style="background-color: #f5f5f5;">
						<label>Response Tweet:</label>
						<div class="well tweet-box" id="tweetResponse" data-tweet-id="{{ tweet_response_id }}"  data-tweet-text="{{ tweet_response_text }}">
						</div>
					</div>
					</div>
			</div>


			<div class="row  border rounded-0 py-4 px-2" id="annotationApp">
				<div class="col-sm-12">
					<input type="hidden"  name="annotator_id" value={{ user.id }} />

					<div id="questionsAccordion">
						<div v-for="(questions, section) in questionsGrouped" :key="section">
							<button class="btn btn-block alert-primary mt-2" :data-target="'#'.concat(idFromSentence(section))" data-toggle="collapse"  type="button" role="button" aria-expanded="false">
								<h6>#[[ section ]]</h6>
							</button>						
							<div class="collapse mb-2" :id="idFromSentence(section)" data-parent="#questionsAccordion">
								<div class="card card-body">
									<div class="form-group" v-for="question in questions">
										<h6> #[[ question.value ]] </h6>
										<div class="form-check-inline" v-for="option in question.options">
											<label class="form-check-label">
											<input 
												class="form-check-input"
												:type=" question.type==='Choice' ? 'radio' : 'checkbox' "
												:name="question.id"
												:value="option">
												#[[ option ]]
											</label>
										</div>
									</div>
								</div>
							</div>										
						</div>
					</div>

					<div class="form-group row">
						<div class="col-12 text-center my-3">
						<button type="submit" class="btn btn-primary">Enviar</button>
						</div>
					</div>
				</div>
			</div>
	
		</form>
	</div>

	<!-- End Categorization Layout -->
{% endblock %}

{% block bottom %}
<!-- Open internal javascript -->
<script src="{% static "analisis/main.js" %}"></script>

{% endblock %}