
{% extends 'analisis/base.html' %}
{% load  static %}

{% block content %}
	<section>
	<ul class="nav nav-pills">
		<button class="btn btn-primary navbar-text navbar-left" type="button">
			Anotaciones realizadas  <span class="badge">{{ annotation_count }}</span>
		</button>
		<p class="navbar-text navbar-right"><a href="{% url 'logout' %}">Log Out</a></p>
		<p class="navbar-text navbar-right">Logged in as {{ user.username }}</p>
	</ul>
	</section>

	<!-- Instructions (collapsible) -->
	<div class="row">
		<div class="col-12">
			<p>
			<a class="btn btn-primary btn-block text-left" data-toggle="collapse" href="#instructions" role="button" aria-expanded="false" aria-controls="instructions">			
				<strong>Tutorial e instrucciones para la anotación</strong>&nbsp;<span class="collapse-text">(Click to expand)</span>				
			</a>
			</p>
			<div class="collapse" id="instructions">
			<div class="card card-body">
				<p><strong>Please read the&nbsp;tutorial by downloading the&nbsp;PDF file from the link below. If clicking the link does not open the pdf file, please copy the link and paste it in a new web-brower/tab.</strong></p>
				<p><strong>Downnload tutorial link <a href="https://github.com/sumeetkr/TweetStanceLabeling/blob/master/CASOS_MTurk_Tweet_Labeling_Tutorial_Slider.pdf">https://github.com/sumeetkr/TweetStanceLabeling/blob/master/CASOS_MTurk_Tweet_Labeling_Tutorial_Slider.pdf</a></strong></p>
				<p><strong>Escoja la categoria en función del siguiente criterio</strong></p>
				<table class="table table-bordered">
					<!-- By explaining the sentiment scale, the accuracy of the answers may increase. -->					
					<thead class="thead-light">					
						<tr>
							<th>Opciónes</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Suporte Explícito</td>
							<td>Cuando el tweet de respuesta expresa de forma explícita (incluye lenguaje) que esta de acuerdo con lo expresado en el tweet orginal o que este es cierto.&nbsp;</td>
						</tr>
						<tr>
							<td>Suporte Implícito</td>
							<td>Cuando el tweet de respuesta implica (da a entender) que esta de acuerdo con lo expresado en el tweet orginal o que este es cierto.&nbsp;</td>
						</tr>
						<tr>
							<td>Comentario</td>
							<td>Cuando el tweet the respuesta es neutral al, o solo comenta el, contenido del tweet original.&nbsp;</td>
						</tr>
						<tr>
							<td>Pregunta por más información</td>
							<td>Cuando el tweet de respuesta pregunta por mas información sobre contenido del tweet original.&nbsp;</td>
						</tr>
						<tr>
							<td>Negación Implícita</td>
							<td>Cuando el tweet de respuesta implica (da a entender) que esta en desacuerdo con lo expresado en el tweet orginal o que este es falso.&nbsp;</td>
						</tr>
						<tr>
							<td>Negación Explícita</td>
							<td>Cuando el tweet de respuesta expresa de forma explícita (incluye lenguaje) que esta en desacuerdo con lo expresado en el tweet orginal o que este es falso.&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		<div>
	</div>
	<!-- End instructions -->

	<!-- Categorization Layout -->
	<div class="row" id="workContent1">

		<form action="{% url 'annotate' %}" method="post">
		{% csrf_token %}

		<!-- Tweet Relation Id-->
		<input id="tweet_relation_id" type="hidden" name="tweet_relation_id" value={{ tweet_relation_id }} />

		<div class="row">
			<div class="col-sm-6">
				<label>Target Tweet:</label>
				<div class="well tweet-box" id="tweetTarget" data-tweet-id="{{ tweet_target_id }}" data-tweet-text="{{ tweet_target_text }}">
				<!--input type="hidden" name="tw_tar_1"  /-->
				</div>
			</div>

			<div class="col-sm-6">
				<label>Response Tweet:</label>
				<div class="well tweet-box" id="tweetResponse" data-tweet-id="{{ tweet_response_id }}"  data-tweet-text="{{ tweet_response_text }}">
				<!--input type="hidden" name="tw_tar_1"/-->
				</div>
			</div>
		</div>

		<div class="row" id="annotationApp">
			<div class="col-sm-12">

				<!-- Annotator -->
				<input type="hidden"  name="annotator_id" value={{ user.id }} />

				<template v-for="(questions, section) in questionsGroupedBySection()" :key="section">				
				<h3> #[[ section ]] </h3>
					<template  v-for="question in questions">
					<label> #[[ question.value ]] </label>
					<table>
					<tbody>
						<tr>
						<template  v-for="option in question.options">					
							<!-- TODO: Set unique name identifier for the question -->
							<td>
							<input 
							class="form-check-input"
							:type=" question.type==='Choice' ? 'radio' : 'checkbox' "
							:name="question.id"
							:value="option">
							</td>						
						</td>
							</td>						
						</td>
							</td>						
						</template>
						</tr>

						<tr>
						<template  v-for="option in question.options">						
						<!-- Iterate twice only to meet the UI style-->
						<td><label class="form-check-label">#[[ option ]]</label></td>
						</template>
						</tr>
					</tbody>
					</table>
					</template>
				</template>

				<div class="form-group row">
					<div class="col-sm-10 text-center">
					<button type="submit" class="btn btn-primary">Enviar</button>
					</div>
				</div>

			</div>
		</div>
	
		</form>
	</div>

	<!-- End Categorization Layout -->
{% endblock %}

{% block bottom %}
<!-- Open internal javascript -->
<script src="{% static "analisis/main.js" %}"></script>

{% endblock %}