
{% extends 'analisis/base.html' %}
{% load  static %}

{% block nav %}
	<section>
		<nav class="navbar navbar-light border-bottom mb-2">
	<a class="navbar-brand" href="#"> <span class="badge badge-light border">{{ annotation_count }}</span> anotaciones realizadas</a>
	<span class="navbar-text">
	<b>Logged in as {{ user.username }} </b>| <a href="{% url 'logout' %}">Log Out</a>
	</span>
	</nav>
	</section>
{% endblock %}
	
{% block content %}

	{% include "analisis/sub/instructions_legacy.html" %}

	<!-- Categorization Layout -->
	<div  id="workContent1">
		<div class="row">
			{% include "analisis/sub/annotation_tweets.html" %}
			{% include "analisis/sub/annotation_form.html" %}
		</div>
	</div>
	<!-- End Categorization Layout -->
{% endblock %}

{% block bottom %}
<!-- Open internal javascript -->
<script src="{% static "analisis/main.js" %}"></script>

{% endblock %}