{% extends 'analisis/base_nav.html' %}
{% load  static %}


{% block content %}

	<div class="mt-4">
		Bienvenido, seleccione una opción para comenzar.
		<ul class="">
            <li >
              <a href="{% url 'annotate' %}" class="nav-link">Anotar tweets</a>
            </li>

            {% if perms.analisis.view_tweetrelation %}
            <li >
              <a href="{% url 'problematic_tweet_relations' %}" class="nav-link">Tweets problemáticos</a>
            </li>
            <li >
              <a href="{% url 'all_annotations_count' %}" class="nav-link">Count</a>
            </li>
            {% endif %}
    </div>

{% endblock %}