<!-- HIT template: SentimentTweet-v3.0 -->
<html>
<head>
<!-- The following snippet enables the 'responsive' behavior on smaller screens -->
<meta content="width=device-width,initial-scale=1" name="viewport" />
<!-- Please note that Bootstrap CSS/JS and JQuery are 3rd party libraries that may update their url/code at any time. Amazon Mechanical Turk (MTurk) is including these libraries as a default option for you, but is not responsible for any changes to the external libraries --><!-- External CSS references -->
<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet" />
<!-- Open internal style sheet -->
<style type="text/css">
	#collapseTrigger{
	color:#fff;
	display: block;
	text-decoration: none;
	}
	#submitButton{
	white-space: normal;
	}
	#instructionBody table{
	font-size: 14px;
	margin-top: 10px;
	}
	#instructionBody table caption{
	text-align: left;
	padding: 0 0 5px 0;
	}

	.content{
	margin-bottom: 2px;
	}

	.tweet-box.error{
	border: 1px solid red;
	}

	.bold{
	font-weight:bold;
	}

	.container {
	margin-top: 2px;
	}


	.outer_div {
	position: relative;
	min-height: 150px;
	}
	.canvas_div {
	width: 500px;
	height: 75px;
	}
	.canvas_div canvas {
	width: 420px;
	height: 75px;
	position: absolute;
	top: 25%;
	left: 0;
	}
	.radio_div {
	width: 500px;
	height: 75px;
	position: absolute;
	top: 0;
	left: 0;
	}
	.confidence table{
	width: 250px;
	border: none;
	border-collapse: collapse;
	}

	.confidence table tr td {
	font-size: 14px;
	background-color: transparent;
	vertical-align: top;
	text-align: center;
	border: none;
	padding: 0px;
	}
	}  
	.radio_div table {
	width: 500px;
	border: none;
	border-collapse: collapse;
	
	}
	.radio_div table tr td {
	font-size: 14px;
	background-color: transparent;
	vertical-align: top;
	text-align: center;
	border: none;
	padding: 0px;
	}

	.radio_div table tr:nth-child(1) td {
	width: 20%;
	height: 25px;
	vertical-align: middle;
	}

</style>
<!-- Close internal style sheet -->

<!-- External JS references -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
<script>
	window.twttr = (function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0],
		t = window.twttr || {};
	if (d.getElementById(id)) return t;
	js = d.createElement(s);
	js.id = id;
	js.src = "https://platform.twitter.com/widgets.js";
	fjs.parentNode.insertBefore(js, fjs);

	t._e = [];
	t.ready = function(f) {
		t._e.push(f);
	};

	return t;
	}(document, "script", "twitter-wjs"));
</script>
</head>

<body>
<section class="container" id="LabelReplies">

	<!-- Instructions (collapsible) -->
	<div class="row">
		<div class="col-xs-12 col-md-12">
		<div class="panel panel-primary"><!-- WARNING: the ids "collapseTrigger" and "instructionBody" are being used to enable expand/collapse feature --><a class="panel-heading" href="javascript:void(0);" id="collapseTrigger"><strong>Tutorial e instrucciones para la anotación</strong>&nbsp;<span class="collapse-text">(Click to expand)</span> </a>
		<div class="panel-body" id="instructionBody">
		<p><strong>Please read the&nbsp;tutorial by downloading the&nbsp;PDF file from the link below. If clicking the link does not open the pdf file, please copy the link and paste it in a new web-brower/tab.</strong></p>

		<p><strong>Downnload tutorial link <a href="https://github.com/sumeetkr/TweetStanceLabeling/blob/master/CASOS_MTurk_Tweet_Labeling_Tutorial_Slider.pdf">https://github.com/sumeetkr/TweetStanceLabeling/blob/master/CASOS_MTurk_Tweet_Labeling_Tutorial_Slider.pdf</a></strong></p>

		<p>&nbsp;</p>

		<p><strong>Escoja la categoria en función del siguiente criterio</strong></p>

		<table class="table table-condensed table-striped table-responsive">
			<tbody>
			</tbody>
			<colgroup>
				<col class="col-xs-2 col-md-2" />
				<col class="col-xs-10 col-md-10" />
			</colgroup>
			<!-- By explaining the sentiment scale, the accuracy of the answers may increase. -->
			<tbody>
				<tr>
					<th>Opciónes</th>
					<th>Descripción</th>
				</tr>
				<tr>
					<td>Suporte Explícito</td>
					<td>Cuando el tweet de respuesta expresa de forma explícita (incluye lenguaje) que esta de acuerdo con lo expresado en el tweet orginal o que este es cierto.&nbsp;</td>
				</tr>
				<tr>
					<td>Suporte Implícito</td>
					<td>Cuando el tweet de respuesta implica (da a entender) que esta de acuerdo con lo expresado en el tweet orginal o que este es cierto.&nbsp;</td>
				</tr>
				<tr>
					<td>Comentario</td>
					<td>Cuando el tweet the respuesta es neutral al, o solo comenta el, contenido del tweet original.&nbsp;</td>
				</tr>
				<tr>
					<td>Pregunta por más información</td>
					<td>Cuando el tweet de respuesta pregunta por mas información sobre contenido del tweet original.&nbsp;</td>
				</tr>
				<tr>
					<td>Negación Implícita</td>
					<td>Cuando el tweet de respuesta implica (da a entender) que esta en desacuerdo con lo expresado en el tweet orginal o que este es falso.&nbsp;</td>
				</tr>
				<tr>
					<td>Negación Explícita</td>
					<td>Cuando el tweet de respuesta expresa de forma explícita (incluye lenguaje) que esta en desacuerdo con lo expresado en el tweet orginal o que este es falso.&nbsp;</td>
				</tr>
			</tbody>
		</table>
		</div>
		</div>
		</div>
	</div>
	<!-- End instructions -->

	<!-- Categorization Layout -->
	<div class="row" id="workContent1">

		<form action="/quotes" method="post">
		{% csrf_token %}

		<!-- Tweet Relation Id-->
		<input id="tweet_relation_id" type="hidden" name="tweet_relation_id" value={{ tweet_relation_id }} />

		<div class="row">		
			<div class="col-sm-6 tweet" id="TargetTw_1">
				<label>Target Tweet:</label>
				<div class="well tweet-box">
				<input id="tw_tar_1" type="hidden" name="tw_tar_1" value={{ tweet_target_id }} />
				</div>
			</div>

			<div class="col-sm-6 tweet" id="ResponseTw_1">
				<label>Quote Tweet:</label>
				<div class="well tweet-box">
				<input id="tw_tar_1" type="hidden" name="tw_tar_1" value={{ tweet_response_id }} />
				</div>
			</div>
		</div>

		<div class="row" id="StanceForm">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="annotator_token">Anotador Token</label>
					<input type="text" class="form-control" name="annotator_token" id="annotator_token" placeholder="Ingrese su token de Anotador">
				</div>

				<div class="form-group">
					<!-- Question for the Worker -->
					<label class="group-label">
					Cual es la postura del Quote tweet al contenido del tweet original (mostrado en un recuadro abajo del tweet)?
					</label> 
					<!-- Input from the Worker --> 
					<!-- <div class="btn-group" data-toggle="buttons" id="Inputs_1">
					<label class="btn btn-default"><input id="Exp_Sup_1" name="reply_1" required="" type="radio" value="Explicit_Support" />Supports it  right</label> 
					<label class="btn btn-default"> <input id="Exp_Den_1" name="reply_1" required="" type="radio" value="Explicit_Denial" />Denies it</label> 
					<label class="btn btn-default"> <input id="Queries_1" name="reply_1" required="" type="radio" value="Queries" />Queries for additional information </label> 
					<label class="btn btn-default"> <input id="Comment_1" name="reply_1" required="" type="radio" value="Comment" />Other type of comment </label>
					</div> -->

					<div class="outer_div" id="sentiment_scale">				
						<!--This only draws a line to visually connect radio inputs.--> 
						<div class="canvas_div"><canvas class="line" id="line_canvas"></canvas></div>
						<div class="radio_div" id="Input_1">
							<table>
								<tbody>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>								
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>								
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td><input id="Exp_Sup_1" name="stance" class ="StanceQ HasStance Positive" required="" type="radio" value="Explicit Support" /></td>
										<td><input id="Imp_Sup_1" name="stance" class ="StanceQ HasStance Positive" required="" type="radio" value="Implicit Support"/></td>
										<td><input id="Comment_1" name="stance" class ="StanceQ"                    required="" type="radio" value="Comment"/></td>
										<td><input id="Query_1"   name="stance" class ="StanceQ"                    required="" type="radio" value="Queries" /></td>
										<td><input id="Imp_Den_1" name="stance" class ="StanceQ HasStance Negative" required="" type="radio" value="Implicit Denial"/></td>
										<td><input id="Exp_Den_1" name="stance" class ="StanceQ HasStance Negative" required="" type="radio" value="Explicit Denial"/></td>
										<!--td><input id="Missing_1" name="stance" class ="StanceQ" required="" type="radio" value="Missing" /></td-->
									</tr>
									<tr>
										<td>Suporte Explícito</td>
										<td>Suporte Implícito</td>								
										<td>Comentario</td>								
										<td>Pregunta por más información</td>
										<td>Negación Implícita</td>
										<td>Negación Explícita</td>
										<!--td>Respuesta/Original No disponible</td-->
									</tr>
								</tbody>
							</table>
						</div>
					</div>				
				</div>

				<div class="form-group confidence" id="Input_1a">
					<label>Que tan seguro está de su respuesta? </label>
					<table>
						<tbody>
							<tr>
								<td><input id="not_con_1"  name="confidence" type="radio" value="Not Sure" required></td>
								<td><input id="some_con_1" name="confidence" type="radio" value="Some Sure" /></td>
								<td><input id="con_1"      name="confidence" type="radio" value="Sure" /></td>
							</tr>
							<tr>
								<td>Inseguro</td>
								<td>Algo Seguro</td>
								<td>Seguro</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="form-group" id="workContent2">	
					<div class="column" id="ifStance" style="display:none">					
						<input type="hidden"  name="expressivity_type" value="" id="expressivity_type_input" />
						<div id="ifNegative" style="display:none">
							<label>La respuesta expresa que el original contiene información falsa o incorrecta?</label>						
							<div>
							<input type="radio"  name="expressivity_value" value="1" required> Si
							<input type="radio"  name="expressivity_value" value="0" /> No
							<!--input type="radio" name="fake_news" value="-1" class= "nAn" /> No aplica-->
							</div>
						</div>
						<div id="ifPositive" style="display:none">
							<label>La respuesta expresa que el original contiene información verdadera o correcta?</label>
							<div>
							<input type="radio" name="expressivity_value" value="1" required> Si
							<input type="radio" name="expressivity_value" value="0" /> No
							<!--input type="radio" name="true_news" value="-1"  class= "nAn"/> No aplica -->
							</div>
						</div>
						<div>		
							<label>De escoger afirmativo en la previa pregunta, la respuesta presenta evidencia para soportar esto?</label>
							<div>
							<input type="radio" name="evidence" value="1" required> Si
							<input type="radio" name="evidence" value="0" /> No
							<!--input type="radio" name="evidence" value="-1" class= "nAn" /> No aplica-->
							</div>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-10 text-center">
					<button type="submit" class="btn btn-primary">Enviar</button>
					</div>
				</div>
			</div>
		</div>
	
		</form>
	</div>

	<!-- End Categorization Layout -->

</section>

</body>

<!-- Open internal javascript -->
<script>
  $(document).ready(function() {
    // Instructions expand/collapse
    var content = $('#instructionBody');
    var trigger = $('#collapseTrigger');
	var instructionHeight = 0;
    content.hide();
    $('.collapse-text').text('(Click to expand)');
    trigger.click(function(){
      content.toggle();
      var isVisible = content.is(':visible');
      if(isVisible){
        $('.collapse-text').text('(Click to collapse)');
		instructionHeight = $('#instructionBody').outerHeight();
      }else{
        $('.collapse-text').text('(Click to expand)');
		instructionHeight = 0 ; 
      }
    });
    // end expand/collapse

    // highlight selected category
    var inputs = $(".radio_div input:radio");
    inputs.change(function(){
      $(this).parent().siblings().removeClass("btn-success");
      $(this).parent().siblings().addClass("btn-default");
      if($(this).is(":checked")){
        $(this).parent().removeClass("btn-default");
        $(this).parent().addClass("btn-success");
      }else{
        $(this).parent().removeClass("btn-success");
        $(this).parent().addClass("btn-default");
      }
    });
    // end highlight

	function renderTweet()
	{
		var tw_id=$(this).find('input').val();
		var isReply=$(this).attr('class').split(" ")[2];
		if (isReply=="reply") {
			tOpt={align: "center", width: "325", dnt: true, conversation: "none"};
		}
		else {
			tOpt={align: "center", width: "325", dnt: true, conversation: "none"};
		}
		twttr.widgets.createTweet(tw_id, this, tOpt).then(function(el){
			$(el.shadowRoot).find(".Tweet-card").hide();
		});
	}	
		
	twttr.ready(function (twttr) {
	 $(".tweet-box").each(renderTweet);
	});
	
	$(".StanceQ").click(stanceCheck)
	// NEED TO CHECK THE DEFAULT ANSWER
	function stanceCheck() {
		if ( $(this).hasClass("HasStance") ) {
			document.getElementById('ifStance').style.display = 'block';
			// Remove default value for extra questions
			$('.nAn').each(function(){
				$(this).prop('checked', false);
			})			
			// Show relevant questions
			if ($(this).hasClass("Positive") ) {
				document.getElementById('ifPositive').style.display = 'block';

				document.getElementById('expressivity_type_input').value = 'true_news';
			}
			else {
				document.getElementById('ifPositive').style.display = 'none';
			}			
			if ( $(this).hasClass("Negative") ) {
				document.getElementById('ifNegative').style.display = 'block';
				document.getElementById('expressivity_type_input').value = 'fake_news';
			}
			else {
				document.getElementById('ifNegative').style.display = 'none';
			}			
		}
		else {
			document.getElementById('ifStance').style.display = 'none';
			// Set Default value for extra questions
			$('.nAn').each(function(){
				$(this).prop('checked', true);
			})

			document.getElementById('expressivity_type_input').value = '';
		}
	}		
	
	});

	$('#annotator_token').change(function(){

		function saveToken() {
			var token = document.getElementById("annotator_token").value;
			localStorage.setItem("annotator_token", token);
		}
		
		console.log("Setting annotator_token value in cache.");
		saveToken();

	})
	
	function restoreToken() {
		var token = localStorage.getItem("annotator_token");
		if( token === null){
			console.log("There is no annotator_token in cache.");
		}else {			
			console.log("annotator_token value found in cache, restoring.");
			document.getElementById("annotator_token").value = token;
		}
	}
	restoreToken();

	
	// This code draws a line to visually connect radio inputs. 
	function drawline()
	{
	// console.log(this)
	ctx = this.getContext('2d');
	ctx.lineWidth = 1;
	ctx.fillStyle="#000000";
	ctx.beginPath();
	ctx.strokeStyle = "#888888";
	ctx.lineWidth = 5;
	ctx.moveTo(25, 28);
	ctx.lineTo(240, 28);
	ctx.stroke();
	}
	$('.line').each(drawline);
</script>
<!-- Close internal javascript-->

</html>